/viikko2/tehtavat8-12/Verkkokauppa1/.nb-gradle/
/viikko2/tehtavat8-12/Verkkokauppa1/build/
/viikko3/tehtavat1-2/nhlreader/.nb-gradle/
/viikko3/HelloCucumber/.nb-gradle/
/viikko3/HelloCucumber/build/
/viikko3/LoginCucumber/.nb-gradle/
/viikko3/LoginCucumber/build/
/viikko3/tehtavat7-11/WebLogin/.nb-gradle/