*.tmp
*/build/
*/.gradle/
/.nb-gradle/
/viikko2/tehtavat8-12/Verkkokauppa1/.nb-gradle/
/viikko2/tehtavat8-12/Verkkokauppa1/build/
/viikko3/tehtavat1-2/nhlreader/.nb-gradle/
/viikko3/HelloCucumber/.nb-gradle/
/viikko3/HelloCucumber/build/
/viikko3/LoginCucumber/.nb-gradle/
/viikko3/LoginCucumber/build/
/viikko3/tehtavat7-11/WebLogin/.nb-gradle/
/viikko4/MockitoDemo/.nb-gradle/
/viikko4/MockitoDemo/build/
/viikko4/MaksukorttiMockito/.nb-gradle/
/viikko4/MaksukorttiMockito/build/
/viikko4/Verkkokauppa/.nb-gradle/
/viikko4/IntJoukkoSovellus/.nb-gradle/
/viikko4/IntJoukkoSovellus/build/
/viikko4/Tennis/.nb-gradle/
/viikko4/Tennis/build/
/viikko5/LaskinFX8/.nb-gradle/
